In [13]:
import numpy as np
from typing import Union
import pandas as pd

# Nand gate
X = np.array([[0,0], [1,0], [0,1], [1,1]])
y = np.array([[1],[1],[1],[0]])

y

array([[1],
       [1],
       [1],
       [0]])

In [12]:
from typing import Union

def step(x: np.number) -> np.number: 
    if x>0: return 1
    elif x==0: return 0
    else: return -1
    
def nand(x1: Union[bool, int], x2: Union[bool, int]) -> Union[bool, int]: 
    feedthru1 = bool(x1)
    feedthru2 = bool(x2)
    AND = bool(x1) and bool(x2)
    return step(sum([int(feedthru1), -2 * int(AND), int(feedthru2)]))
    #return int(bool(x1) or bool(x2)) - 2 * int(bool(x1) and bool(x2))

for x,y in [(0,0), (0,1), (1,0), (1,1)]: 
    print(nand(x,y))

0
1
1
0

In [15]:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/diabetes.csv')

print(df.shape)
print("nulls: ", df.isna().sum().sum())

df.head()

(768, 9)
nulls:  0

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
def outcome(preg: int, 
            gluc: int, 
            bloodpressure: int, 
            skinthickness: int, 
            insulin: int, 
            BMI: float, 
            diabetesPedigreeFunction: float, 
            age: int
           ) -> Union[int, bool]:
    
    pass